/*Fonts*/
$ibm_font_family: var(--font-ibm-plex-sans);
$open_sans_font_family: var(--font-open-sans);
$poppins_font_family: var(--font-poppins);
$lato_font_family: var(--font-open-sans);
$font-open-sans: var(--font-open-sans);
$font-ibm-plex-sans: var(--font-ibm-plex-sans);

$background-elephant: #0b2235;
$secondary-background: #e5edf4;
$color-white: #ffffff;
$color-off-white: #ddd;
$color-botticelli: #c5d4e3;
$color-alto: #d2d2d2;
$color-mustard: #c1a84d;
$color-periwinke-gray: #d2d2d2;
$color-emperor: #545454;
$scorpion: #e5e5e5;
$color-curious-blue: #1d91d8;
$color-curious-blue-2: #3398d5;
$color-blue-charcoal: #010d17;
$color-denim: #1277b4;
$color-catskill-white: #eaf0f6;
$color-error: #ec1111;
$color-border: #EAF0F6;
$color-stat: #F8F8F8;
$color-button-disabled: #f1f5f9;

$color-sea-green: #32996a;
$color-f6f7f9: #f6f7f9;
$color-dae5eb: #dae5eb;
$color-f0f0f0: #f0f0f0;
$color-lavender-gray: #F0F1F5;
$color-gray: #858585;
$color-grey: #333;
$color-medium-dark-gray: #454545;
$color-fun-blue: #1e54b0;
$color-black: #000;
$color-black-15: rgba(0, 0, 0, 0.15);
$color-light-sky-blue: #d4eefb;
$color-light-blue-gray: #c2d9e2;
$color-light-aqua: #b6f0de;
$color-pale-aqua: #f7fffd;
$color-light-lavender: #d9d4f3;
$color-lavender-white: #f5f4fc;
$color-55aa91: #55aa91;

$color-fun-blue-shade2: #1e54b0;
$color-shark: #242425;
$color-run-swizzle: #faf8e7;
$color-green-pea: #1d7342;
$color-catskill-white-40: rgba(229, 237, 244, 0.4);
$color-silver: #c1c1c1;
$color-big-stone: #1b2b42;
$color-zumthor: #edf7ff;
$color-alabaster: #f9f9f9;
$color-firefly: #0a1b29;
$color-black-opa-16: #00000029;
$color-blue-6: #3398d5a1;
$color-black-pearl: #04121d;
$color-vivid-sky-blue: #3398d5;
$color-bright-green: #00b00c;
$color-dark-teal: #108a64;
$color-dark-jade-green: #298158;
$color-soft-greenish-blue: #d7fff2;
$color-pale-light-blue: #dfefff;
$color-deep-royal-blue: #1362a8;
$color-deep-light-blue: #f0f8ff;
$color-baby-blue: #E4F3FD;
$color-e7faf4: #e7faf4;
$color-card-blue: #F0FAFF;
$color-white-smoke: #F8F8F8;

$color-cerulean-blue: #2563eb;
$color-oxford-blue: #1a1a1a;
$color-gray-chateau: #4b5563;
$color-silver: #6b7280;
$color-light-gray: #f8fafc;
$color-white: #ffffff;
$color-black-shadow: rgba(0, 0, 0, 0.25); // Black with opacity
$filter-border: rgba(229, 237, 244, 0.4);
$color-pale-sea-green: #32996a8a;
$color-brand-blue: #174E7F;
$color-rich-golden-yellow: #AE8801;
$color-dark-ochre: #6B5401;
$color-golden-brown: #947815;
$color-goldenrod-brown: #977601;
$color-deep-bronze: #514002;
$color-dark-chocolate: #130C03;
$color-deep-coffee: #261F17;
$color-charcoal-espresso: #1C1204;
$color-dark-brownish-gray: #2E2820;
$color-light-olive: #D9ECE3;
$color-london-rain: #0055b6;
$color-explosive-gray: #c4c3c3;
$color-alice-blue: #F7FBFE;
$color-maldives: #06B6D4;
$color-denim: rgba(0, 153, 204, 0.2);
$color-exclusive-plum: rgba(0, 56, 97, 0.2);
$color-lilac-mist: #E4E4E7;
$color-plum: #71717A;
$color-angst: #09090B;
$color-ice-blue: #F3F7FF;
$color-soft-sky-blue: #CDDFFB;
$color-bright-pumpkin: #f48d42;
$color-lynx-white: #F6F7F9;
$color-maldives: #06B6D4;
$color-denim: rgba(0, 153, 204, 0.2);
$color-exclusive-plum: rgba(0, 56, 97, 0.2);
$color-lilac-mist: #E4E4E7;
$color-plum: #71717A;
$color-angst: #09090B;
$formInputColor: #303030;
$errorMessageColor: #d32f2f;
$color-nice-blue: #1277B4;
